<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PostingList</display-name>
    <servlet-name>PostingList</servlet-name>
    <servlet-class>com.psy.web.PostingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostingList</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Write</display-name>
    <servlet-name>Write</servlet-name>
    <servlet-class>com.psy.web.Write</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Write</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWrite</display-name>
    <servlet-name>DoWrite</servlet-name>
    <servlet-class>com.psy.web.DoWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWrite</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Detail</display-name>
    <servlet-name>Detail</servlet-name>
    <servlet-class>com.psy.web.Detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recommend</display-name>
    <servlet-name>Recommend</servlet-name>
    <servlet-class>com.psy.web.Recommend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recommend</servlet-name>
    <url-pattern>/recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.psy.web.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.psy.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>